//color//
$primary-color: #F93079;
$yellow:#FAD930;
$yellow-light: #FFF4BD;
$purple: #721060;

$blue: #30FAEA;
$blue-light: #B3FDF7;
$natural-900:#414040;
$natural-400: #969696;
$natural-200:#E8E8E8;
$carousel-control-color:$primary-color;
